.inventory_user_tabs > .inventory_user_tab {
    width: auto;

    &#inventory_select_your_inventory,
    &#inventory_select_their_inventory {
        min-width: 6em;
    }
    &.userscript-tab {
        float: right;
    }
    &.userscript-tab:hover {
        background: linear-gradient(to bottom, #41375C 5%, #1D1D1D 95%);
        color: #ebebeb;
        cursor: pointer;
    }
    > [data-name="remove-last-inv-cookie"]:hover {
        color: red;
    }
    > div {
        padding: 0 0.75em;
        text-align: center;
    }
}

.userscript-icon-name-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    & > img {
        object-fit: contain;
    }
}

.overlay > .userscript-trade-overlay {
    display: block;
}
.userscript-trade-overlay {
    min-height: 100%;
    display: none;
    position: absolute;
    inset: 0 0 auto 0;
    background: rgba(0, 0, 0, 0.9);
    color: #eee;
    z-index: 50;
}
.userscript-trade-overlay-header {
    padding: 1rem 0 2rem;
    font-size: 2.5rem;
    text-align: center;
}
.userscript-trade-overlay-title {
    color: #ead9fa;
}
.userscript-trade-overlay-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 51;

    &::before {
        position: absolute;
        top: -0.5rem;
        content: '🗙';
        font-size: x-large;
        text-align: center;
    }
    &:hover::before {
        text-shadow: 0 0 0.5em white;
    }
}

.userscript-trade-overlay.action {
    z-index: 60;

    > .userscript-trade-overlay-close {
        z-index: 65;
    }
}

.userscript-trade-action {
    padding: 0.5em 1em;
    background: linear-gradient(to right, #9d4ee6 0%, #581597 60%);
    background-position: 25%;
    background-size: 330% 100%;
    border: none;
    border-radius: 2px;
    color: #eee;
    font-weight: bold;
    cursor: pointer;

    &.main-control-action {
        width: min-content;
    }

    &:disabled {
        cursor: default;
        opacity: 60%;
    }
    &:disabled:hover {
        background-position: 25%;
    }
    &:hover {
        background-position: 0%;
    }
    &:active {
        background-position: 40%;
    }
}
.main-control-action-group {
    display: inline-flex;
    border: 1px solid #9d4ee6;
    border-radius: 0.25rem;

    & > .main-control-action {
        background: #0000;
        border-radius: 0;
    }
    & > .main-control-action.selected {
        background: #9d4ee6;
    }
    & > .main-control-action:not(:last-child) {
        margin-right: -1px;
        border-right: 1px dashed #9d4ee6;
    }
    & > .main-control-action:not(:last-child):active {
        border-right-color: #581597;
    }
    & > :first-child {
        border-top-left-radius: 0.125rem;
        border-bottom-left-radius: 0.125rem;
    }
    & > :last-child {
        border-top-right-radius: 0.125rem;
        border-bottom-right-radius: 0.125rem;
    }
    & > .main-control-action.active,
    & > .main-control-action:hover {
        background-color: #9d4ee6;
    }
    & > .main-control-action:active {
        background-color: #581597;
    }
}

/*** Selector START ***/

.main-control-section {
    height: 100%;
    display: inline-flex;
    gap: 1rem;
    align-items: center;
}


.main-control-selector-container {
    --selector-width: 12em;
    font-size: smaller;
    user-select: none;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.main-control-selector-select {
    padding: 0.25em 0em 0.25em 0.25em;
    background: #000;
    height: 2rem;
    min-width: calc(var(--selector-width) - 2px);
    line-height: 2rem;
    white-space: nowrap;
    border: 1px solid #707070;

    &::after {
        display: block;
        margin-left: auto;
        content: '▼';
        background: #828282;
        padding: 0.25em 0.0625em;
        border: 1px solid #707070;
    }
}

.selector-detail {
    font-size: xx-small;
}

.main-control-selector-options {
    display: none;
    position: absolute;
    z-index: 69;
}

.main-control-selector-container.active>.main-control-selector-options {
    display: block;
}

.main-control-selector-option {
    padding: 0.25em 1.25em 0.25em 0.25em;
    background: #111;
    height: 2rem;
    min-width: var(--selector-width);
    white-space: nowrap;
    line-height: 2rem;
    /*   border: 1px solid #707070; */
}

.main-control-selector-option:hover {
    background: indigo;
}
/**** Selector END ****/



/*** Itemlist START ***/
.offer-itemlist {
    --header-height: 3rem;
    --item-columns: 5;
    --item-container-width: 5rem;
    --item-container-height: 5rem;
    --item-gap: 0.28125rem;
    background: linear-gradient(180deg, #262D33 -3.38%, #1D1E20 78.58%);
    border: 1px solid #966fd6;
    border-radius: 0.25rem;
    /* align-self: start; */
    position: relative;
}
.offer-itemlist.overlay {
    .itemlist-overlay {
        display: flex;
    }
}
.itemlist-overlay {
    background: #000e;
    display: none;
    flex-direction: column;
    position: absolute;
    inset: 0;
    border-radius: inherit;

    & > .itemlist-header {
        flex-shrink: 0;
    }
    & > .itemlist-list {
        overflow-y: auto;
    }
}
.itemlist-header {
    box-sizing: border-box;
    background: #3a3e47;
    padding: 0.25rem;
    height: var(--header-height);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 1px solid #4c515d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.itemlist-list {
    box-sizing: border-box;
    padding: var(--item-gap);
    min-height: calc(var(--item-container-height) + var(--item-gap) * 2);
    display: grid;
    grid-template-columns: repeat(var(--item-columns), var(--item-container-width));
    grid-auto-rows: max-content;
    justify-content: center;
    gap: var(--item-gap);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
/*** Itemlist END ***/



/**************************/
/*** Offer Window START ***/
/**************************/
.userscript-trade-overlay-body[data-name="offerWindow"] > .offer-window-body {
    display: grid;
}

.offer-window-body {
    display: none;
    height: 100%;
    margin-bottom: 5rem;
    padding: 0.5rem;
    grid-template:
        'offer-head  offer-head    offer-head' 7.5rem
        'offer-list1 offer-actions offer-list2' 100% / minmax(0, 1fr) 2.5rem minmax(0, 1fr);
    gap: 0.5rem;
    justify-content: stretch;
    align-items: stretch;
}

.offer-window-main-control {
    grid-area: offer-head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0008;
    color: #ccc;
}

.offer-window-comment-box {
    background-color: #363636;
    padding: 0.25rem;
    border-radius: 3px;

    textarea {
        background-color: #1d1d1d;
        padding: 0.25rem;
        width: 25rem;
        height: 4rem;
        border-color: #4d4b48;
        border-radius: inherit;
        color: #909090;
        resize: none;
        outline: none;
    }
}

#offer-window-itemlist-me {
    grid-area: offer-list1;
}
#offer-window-itemlist-them {
    grid-area: offer-list2;
}

.offer-window-actions {
    grid-area: offer-actions;
    margin-top: 3.75rem;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: start;
}

.offer-window-action {
    background: #0000;
    color: #e6e6fa;
    padding: 0.5rem;
    border: 1px solid #8446c1;
    border-radius: 0.25rem;
    text-align: center;
    user-select: none;
    cursor: pointer;

    &:hover {
        background: #8446c1;
    }
    &:active {
        background: #663399;
        border-color: #663399;
    }
}
/************************/
/*** Offer Window END ***/
/************************/



/***************************/
/*** Offer Summary START ***/
/***************************/
.userscript-trade-overlay-body[data-name="offerSummary"] > .offer-summary-body {
    display: grid;
}

.offer-summary-body {
    display: none;
    height: 100%;
    margin-bottom: 5rem;
    padding: 0.5rem;
    grid-template:
        'offer-comment offer-main' 5rem
        'offer-list1   offer-details' minmax(0, 22.25rem)
        'offer-list2   offer-details' minmax(0, 22.25rem) / minmax(0, 1fr) minmax(0, 1.1fr);
    gap: 0.5rem;
    justify-content: stretch;
    align-items: stretch;
}

.offer-summary-main-control {
    grid-area: offer-main;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0008;
    color: #ccc;
    border: 1px solid #444;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0.25rem 0.125rem green;

    &.warn {
        box-shadow: inset 0 0 0.25rem 0.125rem yellow;
    }
    .hidden {
        visibility: hidden;
    }
}
#offer-summary-escrow-status,
#offer-summary-empty-status {
    color: yellow;
}
.main-control-status.hidden {
    display: none;
}

.offer-summary-message {
    grid-area: offer-comment;
    padding: 0.5rem;
    background: linear-gradient(180deg, #262D33 -3.38%, #1D1E20 78.58%);
    border: 1px solid #966fd6;
    border-radius: 0.25rem;
}

#offer-summary-itemlist-me {
    grid-area: offer-list1;
}
#offer-summary-itemlist-them {
    grid-area: offer-list2;
}
.offer-summary-itemlist {
    > .itemlist-list {
        box-sizing: border-box;
        max-height: calc(100% - var(--header-height));
        overflow-y: auto;
    }
}

.offer-summary-details-container {
    grid-area: offer-details;
    padding: 0.5rem;
    border: 1px solid #444;
    border-radius: 0.25rem;
}
.offer-summary-details {
    --details-cards-min-width: 12rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    scrollbar-width: none;
}
.summary-details-header {
    font-size: larger;
    text-align: center;
}
.summary-details-section:nth-last-child(n + 2 of .summary-details-section)::after {
    display: block;
    content: '';
    height: 0.125rem;
    background: linear-gradient(to left, #0000 0%, #444 40%, #444 60%, #0000 100%);
}
.details-section-body {
}

.details-section-totals,
.details-section-cards-stats,
.details-section-uncommons-stats {
    margin-inline: auto;
    text-align: center;
    border-collapse: collapse;

    .title {
        padding: 0.5em 0.75em;
        max-width: 0rem; /* to stop stretching the table */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    th, td {
        border: 1px solid rebeccapurple;
    }
}

.details-section-totals {
    margin-block: 1rem;

    th, td {
        min-width: 5rem;
    }
}

.details-section-uncommons {
    margin-block: 1rem;
}
.details-section-uncommons-stats {
    th, td {
        padding: 0.25em;
    }

    img {
        width: 7rem;
        object-fit: contain;
    }
    th:nth-last-child(-n+2),
    td:nth-last-child(-n+2) {
        width: 7.5rem;
    }
}

.details-section-cards {
    margin-block: 1rem;
}
.details-section-cards-stats {
    width: 100%;
    table-layout: fixed;

    .row-name {
        padding-right: 0.375rem;
        text-align: right;
    }
    .row-data {
        padding-left: 0.375rem;
        text-align: left;
    }
    .card-numbers {
        font-size: smaller;
        font-weight: bolder;
    }
    .card-counts {
    }
    .pos {
        color: #00cc00;
    }
    .neg {
        color: #cc0000;
    }
    .neut {
        color: #999999;
    }
    th, td {
        width: 2em;
    }
}
/*************************/
/*** Offer Summary END ***/
/*************************/



/***********************/
/*** Prefilter START ***/
/***********************/
.userscript-trade-overlay-body[data-name="prefilter"] > .prefilter-body {
    display: block;
}
.prefilter-body {
    display: none;
    margin-bottom: 5rem;
    padding: 0.5rem;
}

.prefilter-main-control {
    display: flex;
    justify-content: center;
}

.prefilter-tag-category-containers {
    --reset-btn-width: 4rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

.prefilter-tag-category {
    margin: 0.5rem 0;
    padding: 1rem;
    background: black;
    position: relative;
}

.prefilter-tag-category-title {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1rem;
}

.prefilter-tag-category-searchbar {}

.prefilter-tag-category-reset {
    padding: 0.25rem;
    height: 1.5rem;
    background: indigo;
    text-align: center;
    line-height: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    &:hover {
        background: red;
    }
}

.prefilter-tags-selected {
    margin-block: 0.75rem;

    .prefilter-tag-container {
        border-color: red;
        color: red;
    }
}

.prefilter-tags {}

.prefilter-tags-selected,
.prefilter-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
}

.prefilter-tag-container {
    background: black;
    padding: 0.5em;
    border: 1px solid #333;
    border-radius: 3px;
    user-select: none;
    color: #888;
    font-size: smaller;

    &:hover {
        border-color: #aaa;
        color: #ccc;
    }

    &.hidden {
        display: none;
    }
}

/***********************/
/**** Prefilter END ****/
/***********************/



/**************************/
/*** Quick Search START ***/
/**************************/
.userscript-trade-overlay-body[data-name="quickSearch"] > .quick-search-body {
    display: grid;
}
.quick-search-body {
    display: none;
    height: 100%;
    grid-template:
        'inv-head  inv-head' 5rem
        'inv-facet inv-display' 35rem / 15rem 1fr;
    gap: 0.25rem;
    justify-content: stretch;
    align-items: stretch;
}

.quick-search-main-control {
    grid-area: inv-head;
}

.quick-search-inventory-facet {
    grid-area: inv-facet;
}

.quick-search-inventory-display {
    grid-area: inv-display;
}

.quick-search-inventory-overlay {
    z-index: 100;
}

.quick-search-main-control {
    display: flex;
    min-width: max-content;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    background: #0008;
    color: #ccc;
}

#quick-search-search-inventory {
    box-sizing: border-box;
    min-width: unset;
    width: 100%;
}

.facet-container {
    --list-title-height: 1.5rem;
    box-sizing: border-box;
    padding: 0.75rem;
    width: 100%;
    height: 100%;
    background: #0008;
    color: #ccc;

    ol,
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        /*     max-width: 100%; */
    }

    input.userscript-input[type="text"] {
        margin: 3px;
    }

    &.loading .facet-section {
        display: none;
    }
}

.facet-section {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    overflow-y: hidden;
}

.facet-section.hidden {
    /* Specifically use entry container if we ever want
     * to selectively show only selected with :has
     */
    .facet-list-entry-container {
        height: 0;
    }
    .facet-list-searchbar {
        height: 0;
    }
    .facet-section-title::after {
        transform: rotate(0);
    }
}

.facet-section-title {
    --dropdown-arrow-width: 1.25em;
    padding-right: var(--dropdown-arrow-width);
    height: var(--list-title-height);
    font-weight: bolder;
    position: relative;
    line-height: var(--list-title-height);
    user-select: none;

    &::after {
        display: block;
        height: var(--list-title-height);
        width: var(--dropdown-arrow-width);
        text-align: center;
        line-height: var(--list-title-height);
        content: '⯆';
        color: #555;
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(180deg);
    }
    &:hover::after {
        color: red;
    }
}

.facet-list-searchbar {
    overflow: hidden;
}

.facet-list {
    max-height: 25rem;
    overflow: auto;
    scrollbar-width: thin;
}

.facet-list-entry-container.hidden {
    display: none;
}

.facet-list-entry-label {
    display: block;
    padding-left: 20px;
    position: relative;
    font-size: small;
}

.facet-list input[type="checkbox"]+*::before {
    display: inline;
    position: absolute;
    top: 0.25em;
    left: 0.3em;
    content: '';
    height: 0.75em;
    width: 0.75em;
    background: black;
    border: 1px solid grey;
    border-radius: 0.2em;
    z-index: 62;
}

.facet-list input[type="checkbox"]:checked+*::before {
    background: #57cbde;
}

.facet-list input[type="checkbox"] {
    margin: 1px 4px;
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 61;
    appearance: none;
}

.facet-entry-title {}

.facet-entry-detail {
    color: #aaa;
    font-size: xx-small;
}

.inventory-display-container {
    box-sizing: border-box;
    --item-container-width: 5.25rem;
    --item-container-height: 5.25rem;
    --item-gap: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 688px;
    height: 560px;
    padding: 0.75rem;
    background: #0008;
}

.inventory-display-container.paging {
    .inventory-pages-container {
        height: calc(var(--item-container-height) * 5 + var(--item-gap) * 6);
        width: calc(var(--item-container-width) * 6 + var(--item-gap) * 7);
        overflow: hidden;
        position: relative;
    }

    .inventory-page {
        position: absolute;
        z-index: 60;
    }

    .inventory-page.active {
        z-index: 61;
    }

    .inventory-page.from-right {
        animation: 1s ease reverse to-right;
    }

    .inventory-page.to-left {
        animation: 1s ease to-left;
    }

    .inventory-page.from-left {
        animation: 1s ease reverse to-left;
    }

    .inventory-page.to-right {
        animation: 1s ease to-right;
    }

    .inventory-page-nav {
        display: flex;
    }
}

.inventory-display-container.scrolling {
    .inventory-pages-container {
        height: 100%;
        /* width: calc(var(--item-container-width) * 6 + var(--item-gap) * 7); */
        scrollbar-width: none;
    }

    .inventory-page.hidden {
        display: none;
    }

    .inventory-page:not(.hidden) + .inventory-page {
        padding-top: 0;
    }
}

.inventory-pages-container {
    min-height: calc(var(--item-container-height) * 5 + var(--item-gap) * 6);
    min-width: calc(var(--item-container-width) * 6 + var(--item-gap) * 7);
    max-height: 100%;
    display: inline-flex;
    flex-direction: column;
    overflow: auto;
    background: black;
    border: 1px solid #58159788;
    user-select: none;
}

.inventory-pages-container>*+* {
    /* margin-top: var(--item-gap); */
}

.inventory-page {
    box-sizing: border-box;
    padding: var(--item-gap);
    display: inline-flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: var(--item-gap);
    background: black;
}

.inventory-page-row {
    display: inline-flex;
    gap: var(--item-gap);
}

.inventory-item-container {
    box-sizing: border-box;
    padding: 0.125rem;
    width: var(--item-container-width);
    min-height: var(--item-container-height);
    display: inline-block;
    background-color: #0008;
    border: 1px solid #333;
    border-radius: 4px;
    position: relative;

    &[data-amount]::after {
        content: attr(data-amount);
        padding-inline: 0.1875rem;
        display: block;
        background: #3a0e63;
        position: absolute;
        top: 0.125rem;
        right: 0.125rem;
        font-size: small;
        color: #eee;
        text-align: center;
        border-radius: 0.25rem;
        border: 1px solid #cda5f2;
    }

    &.selected {
        background-color: #43167b !important;
    }

    &.disabled > img,
    &.unselected > img {
        filter: brightness(0.4);
    }

    > img {
        display: block;
        width: inherit;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    > input {
        box-sizing: border-box;
        margin: 0.0625rem;
        width: calc(100% - 0.125rem) !important;
        border-radius: 0.125rem;
    }
}

.inventory-page-nav {
    flex: 1;
    display: none;
    gap: 0.75rem;
    align-items: center;

    button {
        width: 2.75rem;
        display: inline-block;
        padding: 0.25em 0.75em;
        background: #000;
        border: none;
        font-size: 1rem;
        font-family: inherit;
        line-height: 1.1rem;
        border: 1px solid #581597;
        border-radius: 4px;
        color: #ead9fa;
        text-align: center;

        &:not([disabled]):hover {
            background: #581597;
        }
        &:not([disabled]):active {
            background: #441075;
            border-color: #441075;
        }
    }
}

.inventory-page-nav-numbers {
    display: flex;
    min-width: 12rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0.25em;

    > * {
        flex: 4 0 0;
    }
}

.inventory-page-nav-text {
    color: #43167b;

    &.hidden {
        visibility: hidden;
    }
}

.inventory-page-nav-text.number {}

.inventory-page-nav-text.first {}

.inventory-page-nav-text.current {
    font-size: larger;
    font-weight: bolder;
    flex: 6 0 0;
    color: #ead9fa;
}

.inventory-page-nav-text.last {}

.inventory-page-nav-text.ellipsis {
    flex: 3 0 0;
}
/**************************/
/**** Quick Search END ****/
/**************************/



/******************************/
/**** Items Selector START ****/
/******************************/
.userscript-trade-overlay-body[data-name="itemsSelector"] > .items-selector-body {
    display: block;
}
.items-selector-body {
    display: none;
    margin-bottom: 5rem;
    padding: 0.5rem;
}

.items-selector-main-control {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.items-selector-groups {
    margin-top: 1.5rem;
    padding: 0.5rem;

    > *+* {
        margin-top: 0.5rem;
    }
}
.items-selector-group {
    background: #520E7DA0;
    background: #280353A0;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0.5rem;

    & > * {
        grid-column: span 12;
    }
    & > .three-fourths {
        grid-column: span 9;
    }
    & > .two-thirds {
        grid-column: span 8;
    }
    & > .half {
        grid-column: span 6;
    }
    & > .third {
        grid-column: span 4;
    }
    & > .fourth {
        grid-column: span 3;
    }
}
.items-selector-group-header {
    --group-title-height: 2rem;
    --dropdown-arrow-width: 1.5rem;
    margin-bottom: 0.5rem;
    position: relative;

    > .group-title {
        height: var(--group-title-height);
        font-size: x-large;
        text-align: center;
    }
    &::after {
        display: block;
        height: var(--group-title-height);
        width: var(--dropdown-arrow-width);
        text-align: center;
        line-height: var(--group-title-height);
        content: '⯆';
        font-size: large;
        color: #555;
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(180deg);
    }
    &:hover::after {
        color: red;
    }
}
.items-selector-group.hidden {
    .items-selector-group-header::after {
        transform: rotate(0);
    }
    .group-entries {
        display: none;
    }
}
.group-entries {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.items-selector-entry {
    --item-container-width: 4rem;
    --item-container-height: 4rem;
    --item-gap: 0.5rem;
    --row-item-count: 12;
    box-sizing: border-box;
    max-width: calc(var(--item-container-width) * var(--row-item-count) + var(--item-gap) * (var(--row-item-count) + 1));
    min-width: calc(var(--item-container-width) * 2 + var(--item-gap) * 3);
    display: flex;
    flex-direction: column;
    background: #000a;
    padding: var(--item-gap);
    min-height: 5.5rem;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    &.uncertain > .items-selector-entry-header {
        color: yellow;
    }
    &.available > .items-selector-entry-header {
        color: green;
    }
    &.unavailable > .items-selector-entry-header {
        color: red;
    }

    &.span1 {
        --row-item-count: 1;
    }
    &.span2 {
        --row-item-count: 2;
    }
    &.span3 {
        --row-item-count: 3;
    }
    &.span4 {
        --row-item-count: 4;
    }
    &.span5 {
        --row-item-count: 5;
    }
    &.span6 {
        --row-item-count: 6;
    }
    &.span7 {
        --row-item-count: 7;
    }
    &.span8 {
        --row-item-count: 8;
    }
    &.span9 {
        --row-item-count: 9;
    }
    &.span10 {
        --row-item-count: 10;
    }
    &.span11 {
        --row-item-count: 11;
    }

    &.span1, &.span2, &.span3, &.span4, &.span5, &.span6,
    &.span7, &.span8, &.span9, &.span10, &.span11 {
        width: calc(var(--item-container-width) * var(--row-item-count) + var(--item-gap) * (var(--row-item-count) + 1));
    }

    & .split1 {
        --row-item-count: 1;
    }
    & .split2 {
        --row-item-count: 2;
    }
    & .split3 {
        --row-item-count: 3;
    }
    & .split4 {
        --row-item-count: 4;
    }
    & .split5 {
        --row-item-count: 5;
    }
    & .split6 {
        --row-item-count: 6;
    }
    & .split7 {
        --row-item-count: 7;
    }
    & .split1, & .split2, & .split3, & .split4, & .split5, & .split6, & .split7 {
        width: calc(var(--item-container-width) * var(--row-item-count) + var(--item-gap) * (var(--row-item-count) - 1));
    }

    & > .items-selector-inventory-items,
    & > .items-selector-balancer-container {
        flex: 1;
    }
}
.items-selector-entry-header {
    margin-bottom: 0.25rem;
    color: grey;

    > .entry-title {
        font-size: medium;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.items-selector-inventory-items {
    display: inline-flex;
    align-items: center;
    gap: var(--item-gap);
    flex-wrap: wrap;
}
.items-selector-balancer-container {
    display: inline-flex;
    align-items: center;
    gap: var(--item-gap);

    & .balancer-arrows {
        margin-inline: calc(var(--item-container-width) / 4);
        margin-block: calc(var(--item-container-height) / 4);
        width: calc(var(--item-container-width) / 2);
        height: calc(var(--item-container-height) / 2);
        background-size: contain;
    }
}

.items-selector-dialog-container {
    background: rgba(0, 0, 0, 0.9);
    padding: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 70;

    &.active {
        display: flex;
    }
}
.items-selector-dialog {
    min-height: 25rem;
    max-height: 100%;
    min-width: 45rem;
    max-width: 75%;
    padding: 1rem;
    background: black;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #520E7DA0;

    > .items-selector-entry-remove {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    > .items-selector-entry-remove.hidden {
        display: none;
    }
}
.items-selector-entry-remove {
    height: 1.5rem;
    width: 1.5rem;
    background: red;
}
.dialog-title {
    font-size: larger;
}
.dialog-items {
    --item-container-width: 4rem;
    --item-container-height: 4rem;
    --item-gap: 0.5rem;
    min-width: calc(var(--item-container-width) + 1rem);
    min-height: calc(var(--item-container-height) + 1rem);
    padding: 0.5rem;
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--item-gap);
    flex: 1;
    align-content: center;
    justify-content: center;
}
.dialog-actions {
    display: flex;
    align-self: stretch;
    justify-content: space-around;

    & > .hidden {
        display: none;
    }
}

/****************************/
/**** Items Selector END ****/
/****************************/



/*********************************/
/*** Item Class Selector START ***/
/*********************************/
.userscript-trade-overlay-body[data-name="itemClassSelector"] > .item-class-selector-body {
    display: grid;
}
.item-class-selector-body {
    padding-inline: 0.5rem;
    display: none;
    height: 100%;
    grid-template:
        'ic-sel-main     ic-sel-main' 5rem
        'ic-sel-itemlist ic-sel-descript' 40rem / 33rem minmax(0, 1fr);
    gap: 0.5rem;
    justify-content: stretch;
    align-items: stretch;
}

.item-class-selector-main-control {
    grid-area: ic-sel-main;

    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.item-class-selector-itemlist {
    grid-area: ic-sel-itemlist;

    .offer-itemlist {
        --item-columns: 6;
        --item-container-width: 5rem;
        --item-container-height: 5rem;
        --item-gap: 0.375rem;

        box-sizing: border-box;
        overflow-y: auto;
        height: 100%;
    }
}

.item-class-selector-description {
    grid-area: ic-sel-descript;
    padding: 0.75rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    border: 1px solid #444;
    border-radius: 0.25rem;
    align-items: center;
    position: relative;

    & > * {
        flex-shrink: 0;
    }
    & > .game-info {
        height: 1.75rem;
        align-self: start;
        font-size: smaller;
        color: grey;
    }
    & > .game-info > * {
        vertical-align: middle;
    }
    & img {
        height: 100%;
        object-fit: contain;
    }
    & > .item-img {
        height: 7.5rem;
    }
    & > .name {
        font-size: larger;
        font-weight: bolder;
        text-align: center;
    }
    & > .item-type {
        font-size: smaller;
    }
    /*
    & > .game-info > *:not(:last-child)::after {
        margin-inline: 0.375em;
        display: inline-block;
        content: '';
        width: 2px;
        height: 1em;
        background: linear-gradient(#0000, #0000 30%, #555 65%, #555 65%, #0000);
    }
    */
    & .descriptions-container {
        align-self: start;
        flex-shrink: 1;
        overflow-y: hidden;
        position: relative;
    }
    & .descriptions-container:hover > .descriptions-open {
        display: flex;
    }
    & .descriptions-open {
        position: absolute;
        inset: 0;
        background: #000d;
        display: none;
        flex-direction: column;
        gap: 0.25rem;
        justify-content: center;
        align-items: center;
    }
    & .descriptions-open::before {
        display: block;
        content: '🔍';
        font-size: xx-large;
    }
    & .descriptions {
        flex-shrink: 1;
        font-size: smaller;
        align-self: start;
        overflow-y: auto;
    }
    & .descriptions.truncate {
        overflow-y: hidden;
    }
    & .descript-tags {
        /* padding-bottom: 0.875rem; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.375rem;
        font-size: smaller;
        text-align: center;
        text-wrap: nowrap;
    }
    & .descript-tags.truncate {
        flex-wrap: nowrap;
        overflow-x: hidden;
    }
    & .descript-tags > * > * {
        padding-inline: 0.25rem;
    }
    & .descript-tags > *::before {
        padding-block: 0.125rem;
        padding-inline: 0.25rem;
        display: block;
        content: attr(data-category);
        background: #333;
    }
    & > .description-overlay {
        padding: 0.75rem;
        gap: 0.5rem;
        background: #000e;
        justify-content: space-between;
        border-radius: 0.1875rem;
    }
    & .description-overlay-close {
        align-self: end;
        width: 1.25rem;
        height: 1.25rem;
        position: relative;
        z-index: 61;

        &::before {
            position: absolute;
            top: -0.25rem;
            left: 0.0625rem;
            content: '🗙';
            font-size: large;
            text-align: center;
        }
        &:hover::before {
            text-shadow: 0 0 0.5em white;
        }
    }
}
/*********************************/
/**** Item Class Selector END ****/
/*********************************/
